<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>LDC ARGENTINA SA</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </ul>
        <ul>
            <li>
                <h1>CLOSAC SA</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </ul>
        <ul>
            <li>
                <h1>CORRALÓN EXPÓSITO</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </ul>   

    </div>
</div>
